<div class="wrapper">

  <section class="height-100vh d-flex align-items-center page-section-ptb login"
           style="background: url(../../../../assets/images/login-bg.jpg);">
    <div class="container">
      <div class="row justify-content-center no-gutters vertical-align">
        <div class="col-lg-4 col-md-6 login-fancy-bg bg"
             style="background: url(../../../../assets/images/login-inner-bg.jpg);">
          <div class="login-fancy">
            <h2 class="text-white mb-20">{{ 'hello' | translate }}</h2>
            <p class="mb-20 text-white">{{ 'login_in_system' | translate }}</p>
            <ul class="list-unstyled  pos-bot pb-30">
              <!--<li class="list-inline-item"><a class="text-white" routerLink=""> Terms of Use</a></li>-->
              <!--<li class="list-inline-item"><a class="text-white" routerLink=""> Privacy Policy</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 bg-white">
          <form novalidate #passwordCodeForm="ngForm" (ngSubmit)="verifyPasswordCode(passwordCodeForm)">
            <div class="login-fancy pb-40 clearfix">
              <h3 class="mb-30">{{ 'enter_confirmation_code' | translate }}</h3>
              <div class="section-field mb-20">
                <label class="mb-10" for="password_code">{{ 'confirmation_code' | translate }}* </label>
                <input id="password_code" class="web form-control" type="text" placeholder="{{ 'confirmation_code' | translate }}"
                       name="password_code"
                       [(ngModel)]="verificationCode" required minlength="6">

                <div class="validation-error "
                     *ngIf="passwordCodeForm.submitted && passwordCodeForm.controls['password_code'].errors?.required">
                  {{ 'enter_confirmation_code' | translate }}
                </div>
                <div class="validation-error"
                     *ngIf="passwordCodeForm.submitted && passwordCodeForm.controls['password_code'].errors?.minlength">
                  {{ 'confirmation_code_less_6' | translate }}
                </div>
              </div>
              <button class="button btn-success d-block" type="submit">
                {{ 'activate' | translate }}activate <i class="fa fa-check"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>
