
@import "assets/fonts/FrutigerLTArabic-45Light/FrutigerLTArabic-45Light.css";




:host /deep/ .side-menu-fixed .slimscroll-wrapper {
  height:100vh !important;
  padding-bottom:58px;
}


.btn-danger{
  background : black;
}


